.hidden {
    display: none;
}
#citeMask {
    position: fixed;
    top: 0;
    z-index: 1999;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}
.notes {
    display: none;
    width: 50%;
    margin: 5% 25%;
    border: 1px solid #666;
    background: #fff;
    position: fixed;
    padding: 20px;
    z-index: 2000;
    height: 70%;
    overflow-y: scroll;
}
.blurry-text:not(:hover) {
    color: transparent;
    text-shadow: 0 0 6px rgba(0,0,0,0.5);
}
.paragraph-highlight {
    font-weight: 800;
}
@media (max-width: 800px) {
    .notes {
	margin: 5% 5%;
	width: 90%;
	height: 80%;
    }
}
.righttable {
    text-align: right;
}
thead th {
    position: sticky;
    top: 0;
    z-index: 500;
}
